/node_modules
dist/index.html
dist/_astro/pi-geospatial-tile.CiE3s7zD_1sjcYw.webp
dist/_astro/pi-sanic (1).CwVIf0WQ.png
dist/_astro/pi-sanic (2).C9Fz6CoD.png
dist/_astro/pi-sanic (3).DRZK6ARQ.png
dist/_astro/pi-sanic-tile.Us_c_0xa_142vSh.webp
dist/_astro/pi-sanic.DYSze2Gk_Z1Lnvw5.webp
dist/_astro/pi-taylorrenegade (1).D_tjyAtL.webp
dist/_astro/pi-taylorrenegade (2).t1ctO8CV.webp
dist/_astro/pi-taylorrenegade (3).Xc9alObJ.webp
dist/_astro/pi-taylorrenegade-tile.CRPVT1HN_Z2jKVwh.webp
dist/_astro/pi-taylorrenegade.B3pzW8F1_ZB30uq.webp
dist/_astro/pi-thesis (1).BlW0UfJk.png
dist/_astro/pi-thesis (2).D8C-bBVh.png
dist/_astro/pi-thesis (3).B0JOIFne.png
dist/_astro/pi-thesis-tile.CnbolmC2_Z8RLOv.webp
dist/_astro/pi-tictactoe.Dbs8JAIM_1knmeO.webp
dist/_astro/pi-todolist-tile.BXlUNPFQ_wpslx.webp
dist/_astro/pi-todolist.Bffq71Ij_1PmL8z.webp
dist/_astro/profile.BWn0KeGj.webp
dist/_astro/projects.-Tes57PM.css
dist/_astro/resume.LmojFLrL.css
dist/projects/index.html
dist/projects/geospatial-analysis/index.html
dist/projects/sanic/index.html
dist/projects/taylor-portfolio/index.html
dist/projects/thesis-contribution/index.html
dist/projects/tictactoe/index.html
dist/projects/todolist/index.html
dist/resume/index.html
