@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body 
{
    font-size: 62.5%;
    min-height: 100vh;
    min-width: 100vw;
    margin:0;
    padding: 0;
    background-color: #1C1C1D;
    color:#C0C0C0;
    font-family: 'Roboto', sans-serif;
    transition: filter 500ms;

}
a
{
    color:#C0C0C0;
    text-decoration: none;
    &:hover
    {
        cursor: pointer;
        color:#2591b282
    }
    &.active
    {
        font-weight: 500;
        color:#2591B2;
        text-decoration: underline;
    }
}


.inverted{filter: invert(1);}
.dark-mode-toggled{filter: invert(1);}

.main-container
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 0 10rem 0
}
.section-container
{
    margin: 2rem 0 2rem 0;
    width:90rem;
}
.section-title
{
    font-size: 3.75rem;
    font-weight: 300;
    padding:0;
    margin:2rem 0 0rem 0;
}
.section-sub-title
{
    font-size: 3rem;
    font-weight: 500;
    padding:0;
    margin:2rem 0 0rem 0;
}
.section-subber-title
{
    font-size: 2rem;
    font-weight: 400;
}
.section-main
{
    display: flex;
    margin-top:1.5rem;
}
.btn-large-link
{
    padding:1.5rem;
    width:25%;
    text-align: center;
    border-radius: 1rem;
    color:#1C1C1D;
    background-color: #e3e3e2;
    transition: all 300ms;

    &:hover, &:focus
    {
        background-color:#414143;
        color:#e3e3e2;
    }
}

