---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import IndexProfile from "../assets/index/profile.webp";
---

<MainLayout type="2">
    <Header slot="header" active=`about`/>
       <main class="main-container" role="main">
            <div class="section-container">
                <header class="section-header">
                    <h1 class="section-title">
                        <span style="font-weight:900;">Resume</span>
                        <a class="btn-large-link" href="assets/resume/resume.pdf" download="psoriano_resume" role="button">Download<span class="icon"></span></a> 
                    </h1>
                   
                </header>
               
                <article class="section-main resume-main">
                    <div class ="resume-body">
                        <header class="resume-head-section">
                            <h1 class="resume-head-title">Philip Soriano</h1>
                            <div class="resume-head-sub">
                                <h2 class="resume-head-sub-title head-sub-email">
                                    psoriano00@outlook.com
                                </h2>
                                <h2 class="resume-head-sub-title head-sub-divide">&#10070;</h2>
                                <h2 class="resume-head-sub-title head-sub-phone">
                                    (905)-341-0833
                                </h2>
                                <h2 class="resume-head-sub-title head-sub-divide">&#10070;</h2>
                                <h2 class="resume-head-sub-title head-sub-address">
                                    Welland, ON
                                </h2>
                                <h2 class="resume-head-sub-title head-sub-divide">&#10070;</h2>
                                <h2 class="resume-head-sub-title head-sub-gitlink">
                                    <a class="resume-head-sub-title" href="https://github.com/sorphil">Github</a>
                                </h2>
                            </div>
                        </header>
                        <main class="resume-main-body">
                            <div class ="main-section">
                                <div class="resume-main-title">
                                    WORK EXPERIENCE
                                </div>
                                
                                <div class="main-subsection">
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            YesLiberia, Inc
                                        </div>
                                        <div>
                                            Jan 2025 - Present
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            Web Developer (Volunteer, Remote)
                                        </div>
                                        <div>
                                            Monrovia, Liberia
                                        </div>
                                    </div>
                                    <ul class="main-subsection-list">
                                        <li class="resume-main-list-item">
                                            Took initiative to analyze and improve the <strong>SEO</strong> performance of the organization's <strong>WordPress</strong> site, leading to a measurable increase in organic traffic.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Managed the installation, configuration, and customization of plugins to meet specific website functionality and user experience requirements.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Conducted regular maintenance, updates, and troubleshooting to ensure optimal website performance.
                                        </li>
                                    </ul>
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Walker Advanced Manufacturing Innovation Centre
                                        </div>
                                        <div>
                                            May 2024 - Jan 2025
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            Computer Programmer Research Assistant
                                        </div>
                                        <div>
                                            Welland, ON
                                        </div>
                                    </div>
                                    <ul class="main-subsection-list">
                                        <li class="resume-main-list-item">
                                            Configured, upgraded, and dockerized PHP-based CRM software (SuiteCRM) for <strong>Kubernetes</strong> deployment, ensuring compatibility with custom modules, and automating installation with <strong>Bash</strong> and <strong>GitLab CI</strong> scripts.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Developed <strong>Python</strong> scripts with <strong>GeoPandas</strong> and <strong>SciPy</strong> to detect and address residual data noise in soil property maps, improving processing efficiency and eliminating manual analysis by researchers.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Resolved critical issues in an internal <strong>ETL</strong> data migration tool, ensuring seamless migration from historical databases.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Collaborated with the research team of a partner company to develop and refine methods for detecting artefacts in data, using <strong>gradient analysis</strong> and <strong>edge detection algorithms</strong> (<strong>OpenCV</strong>) on images generated on the dataset using <strong>MatPlotLib</strong> to identify anomalies efficiently.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Produced comprehensive documentation of data analysis methodologies and findings supporting the research team's decision-making and implementation efforts
                                        </li>
                                    </ul>
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Welland Minor Baseball League - Community Sponsored Project
                                        </div>
                                        <div>
                                            Jan 2024 - May 2024
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle"> 
                                        <div> Developer / Team Lead </div> 
                                        <div> Welland, ON </div> 
                                    </div> 
                                    <ul class="main-subsection-list">
                                         <li class="resume-main-list-item"> Led a team in developing a responsive web application using <strong>C#</strong>, <strong>ASP.NET</strong>, <strong>HTML</strong>, <strong>CSS/Bootstrap</strong>, and <strong>JavaScript</strong> to streamline game tracking, scorekeeping, and player statistics for the Welland Minor Baseball Association.</li> 
                                         <li class="resume-main-list-item">Oversaw the implementation of the <strong>MVC design pattern</strong>, promoting clear separation of concerns and efficient management of models, views, and controllers </li> 
                                         <li class="resume-main-list-item">Managed version control with <strong>GitHub</strong>, reviewing and merging code submissions to maintain code quality and consistency across the project.</li> 
                                    </ul>
                            </div>
                            
                            <div class ="main-section">
                                <div class="resume-main-title">
                                    PERSONAL PROJECTS
                                </div>
                                <div class="main-subsection">
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Thesis Contribution
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            A History of Misrepresentation; Centering Trans-Feminine Individuals Within Craniofacial Approximations by Taylor Violet Ross <br>
                                                        https://www.dundee.ac.uk/masters-showcase/2024/taylor-violet-ross
                                        </div>
                                        <div>
                                            (AWS Face Rekognition, CompreFace, Face++)
                                        </div>
                                    </div>
                                    <ul class="main-section-list">
                                        <li class="resume-main-list-item">
                                            Edited and proofread thesis while assisting in data collection and analysis.
                                         </li>
                                        <li class="resume-main-list-item">
                                            Leveraged <strong> facial recognition APIs </strong> to compare and quantify the consistency of craniofacial approximations of the same skull, examining how different standards proposed by the author affected the results.
                                        </li>
                                    </ul>
                          
            
                                    <div class="resume-main-subsection-title">
                                       
                                        <div>
                                            Snake Clone UWP Game
                                        </div>
                                    
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            https://github.com/sorphil/sanic-uwp/
                                        </div>
                                        <div>
                                            (C#, Universal Windows Platform)
                                        </div>
                                    </div>
                                    <ul class="main-section-list">
                                      
                                        <li class="resume-main-list-item">
                                            Developed a Snake Clone game using the <strong>Universal Windows Platform (UWP) with C#</strong>, featuring an interactive and engaging user interface.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Utilized game loop mechanics and input handling to replicate classic Snake gameplay, gamepad and keyboard controls for an optimal user experience across devices.
                                        </li>
                                    
                                    </ul>
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            To-Do Web Application
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            https://github.com/sorphil/todolist-web
                                        </div>
                                        <div>
                                            (JavaScript, CSS3, HTML5, Python, Django/Django REST) 
                                        </div>
                                    </div>
                                    
                                    <ul class="main-section-list">
                                        <li class="resume-main-list-item">
                                            Designed a web application using vanilla <strong>JavaScript/HTML/CSS</strong> as the frontend and storing data and handling authentication and sessions using <strong>Django-REST</strong>
                                            framework as the backend (hosted using the basic service provided by Python Anywhere)
                                        </li>
                                    </ul>
                                    <!-- <div class="resume-main-subsection-title">
                                        <div>
                                            Fish Compatibility App
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            (In Progress)
                                        </div>
                                        <div>
                                            (Angular, TypeScript, HTML5, CSS3, Python, Django/Django REST, SQL, AI/ML)
                                        </div>
                                    </div>
                                    <ul class="main-section-list">
                                        <li class="resume-main-list-item">
                                            Desigining a web application using <strong>Angular</strong> for the frontend and <strong>Django REST Framework</strong> for the backend to assess compatibility of aquarium fish species.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Integrating a dynamic user interface for inputting tank conditions and fish species, providing AI-powered recommendations.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Developed a database schema to store fish profiles with attributes like aggression level, environmental needs, and size.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Implemented preliminary rule-based logic for fish compatibility with plans to integrate machine learning models for enhanced insights.
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class ="main-section">
                                <div class="resume-main-title">
                                    EDUCATION
                                </div>
                                <div class="main-subsection">
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Niagara College
                                        </div>
                                        <div>
                                            Jan. 2023 - Jan 2025
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            Computer Programming and Analysis Co-op
                                        </div>
                                        <div>
                                            Welland, ON
                                        </div>
                                       
                                    </div>
                                    <ul class="main-list">
                                        <li class="resume-main-list-item">GPA: 3.7/4.0</li>
                                        <li class="resume-main-list-item">President's Honour Roll for three consecutive terms</li>
                                        <li class="resume-main-list-item"><strong>Relevant Courses: </strong>Data Warehousing, Big Data Programming & Reporting, Network Security, Operating System Administration</li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class ="main-section">
                                <div class="resume-main-title">
                                    TECHNICAL SKILLS & CERTIFICATIONS
                                </div>
                                <div class="main-subsection">
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Skills
                                        </div>
                                    </div>
                                    <ul class="main-list">
                                        <li class="resume-main-list-item"><b>Languages:</b> Python, C#, Javascript, HTML/CSS3, Java</li>
                                        <li class="resume-main-list-item"><b>Libraries & Frameworks:</b> Numpy, MatPlotLib, SciPy, Pandas, GeoPandas, Django/Django-REST, ASP.NET, .NET, REACT, Sass</li>
                                        <li class="resume-main-list-item"><b>Tools & Databases:</b> Git, Linux, SSIS, Shell/Bash Scripting, PowerBI, Docker, Kubernetes, JWT, CI/CD, SQL Server, Sqlite, MongoDB</li>
                                    </ul>
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Certifications
                                        </div>
                                    </div>
                                    <ul class="main-list">
                                        <li class="resume-main-list-item">Microsoft Certified: Azure Fundamentals AZ-900 </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class ="main-section">
                                <div class="resume-main-title">
                                    OTHER WORK EXPERIENCE
                                </div>
                                <div class="main-subsection">
                                    <div class="resume-main-subsection-title">
                                        <div>
                                            Aramark - Brock University
                                        </div>
                                        <div>
                                            Feb. 2023 - Present
                                        </div>
                                    </div>
                                    <div class="resume-main-subsection-subtitle">
                                        <div>
                                            Food Service Worker
                                        </div>
                                        <div>
                                            St. Catharines, ON
                                        </div>
                                    </div>
                                    <ul class="main-section-list">
                                        <li class="resume-main-list-item">
                                            Trained across different campus food locations(Tim Hortons, Starbucks, Pita Pit, etc.), demonstrating adaptability and quick learning.
                                        </li>
                                        <li class="resume-main-list-item">
                                            Ensured and upheld high standards of quality with attention to detail
                                        </li>
                                        <li class="resume-main-list-item">
                                            Provided friendly and efficient customer service with strong interpersonal skills.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </main>
                    </div>
                </article>
            </div>
            
        </main>
</MainLayout>
<style>
     .main-container
    {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:0 0 10rem 0;
    }
     .section-title
    {
        font-size: 3.75rem;
        font-weight: 300;
        padding:0;
        margin:2rem 0 0rem 0;
    }
    .section-sub-title
    {
        font-size: 3rem;
        font-weight: 500;
        padding:0;
        margin:2rem 0 0rem 0;
    }
    .section-subber-title
    {
        font-size: 2rem;
        font-weight: 400;
    }
    .section-main
    {
        display: flex;
        margin-top:1.5rem;
    }
     .section-container
    {
        margin: 2rem 0 2rem 0;
        width:90rem;
        
    }
    .resume-body
{
    background-color: #ffffffd7;
    /* margin:2rem; */
    padding:0 2.5rem 5rem 2.5rem;
    width:90rem;
    color: #1C1C1D;
    border:0.175rem #1C1C1D solid;
    margin: 1rem 0 0rem 0 ;
}
.resume-head-section
{
    display:flex;
    flex-direction: column;
    border-bottom: 0.175rem #1C1C1D solid;
}

.resume-head-title
{
    font-size: 3rem;
    margin-bottom: 0.25rem;
}
.resume-head-sub
{
 
    display: flex;
    padding:0;
    
}
.resume-head-sub-title
{
    font-weight: 100;
    font-size:2rem;
    margin-top: 0.35rem;
    padding-right:0.5rem;
    font-weight: 400;
    &>a
    {
        color: #2591B2;
        &:hover
        {
            cursor: pointer;
            color:#2591b282;
            text-decoration: underline;
        }
       
    }
}


.resume-main-body
{
    display:flex;
    flex-direction: column;
    padding-top:2rem;
}
.resume-main-title
{
    font-size: 1.65rem;
    font-weight: bold;
    border-bottom: 0.175rem #1C1C1D solid;
    padding-bottom:0.5rem;
    margin-bottom:1rem;
    margin-top:1rem;
}
.resume-main-subsection-title
{
    font-size: 1.55rem;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
}
.resume-main-subsection-subtitle
{
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    font-style: italic;
    text-align: left;
    &>:nth-child(2)
    {
        text-align: right;
    }
}

.resume-main-list-item
{
    font-size:1.3rem
}

.section-title
{
    display: flex;
    justify-content: space-between;
}

.btn-large-link
{
    padding:1.5rem;
    width:25%;
    text-align: center;
    border-radius: 1rem;
    color:#1C1C1D;
    background-color: #e3e3e2;
    transition: all 300ms;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    &:hover
    {
        background-color:#414143;
        color:#e3e3e2;
        &>.icon{filter: invert(1)}
    }
}
.icon
{
    content:url("https://sorphil.github.io/portfolio-web/assets/resume/download-icon.webp");
    height:1.1rem;

    margin-left: 0.5rem;

   
}
.invert{filter: invert(1);}
.dark-mode-toggled{filter: invert(1);}
@media(max-width: 600px) 
{
    html,body{font-size: 7px; max-width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center;} 
    .section-container{width:100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    
    .section-title
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .resume-main
    {
      
        margin:2.5rem 0 0 0;
        width:100%;
        display: flex;
        justify-content: center;
    }
    .resume-body
    {
    background-color: #ffffffd7;
   
    padding:0 2.5rem 5rem 2.5rem;
    margin:0 2rem 0 2rem;
    width:80%;
    }
    
    .btn-large-link
    {
        font-size: 1.5rem;
        font-weight: 400;
        margin:2rem 0 3rem 0 ;
        width:70%;
    }

    .resume-head-title
    {
        font-size: 2.35rem;
        margin-bottom: 0.15rem;
    }
    .resume-head-sub
    {
    
        display: flex;
        padding:0;
        
    }
    .resume-head-sub-title
    {
        font-weight: 100;
        font-size:1.35rem;
        margin-top: 0.15rem;
        padding-right:0.15rem;
        font-weight: 400;
        &>a
        {
            color: #2591B2;
            &:hover
            {
                cursor: pointer;
                color:#2591b282;
                text-decoration: underline;
            }
        
        }
    }


    .resume-main-body
    {
        display:flex;
        flex-direction: column;
        padding-top:2rem;
    }
    .resume-main-title
    {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 0.175rem #1C1C1D solid;
        padding-bottom:0.5rem;
        margin-bottom:1rem;
    }
    .resume-main-subsection-title
    {
        font-size: 1.2rem;
        font-weight: bold;
        display:flex;
        justify-content: space-between;
    }
    .resume-main-subsection-subtitle
    {
        font-size: 1.15rem;
        display:flex;
        justify-content: space-between;
        font-style: italic;
    }

    .resume-main-list-item
    {
        font-size:1rem
    }

}
@media (min-width: 601px) and (max-width: 1080px) 
{
    html,body{font-size: 9px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
    .main-container{width:90rem;}
    .section-container{    width:100%;}
    .section-header
    {

        margin:0 3.5rem 0 3.5rem;
    }
    .resume-main
    {
        margin:2.5rem 0 0 0;
        width:100%;
        display: flex;
        justify-content: center;
    }
    .resume-body
    {
        width:85%;
    }
    .btn-large-link
    {
        font-size: 1.5rem;
        font-weight: 400;
        margin:2rem 0 3rem 0 ;
   
    }
    
}
</style>