<footer class="footer-container" role="contentinfo"> 
            <div class="footer-main"> © Copyright 2024 Philip Soriano. Hosted by <a class="footer-link" href="https://pages.github.com/" target="_blank" rel="external nofollow noopener">GitHub Pages</a>. Icons from <a class="footer-link" href="https://devicon.dev/" target="_blank" rel="external nofollow noopener">devicon.dev</a>. 
            </div> 
</footer>
<style>
    .footer-container
{
    position: fixed;
    bottom:0;
    height:3%;
    background-color: #E8E8E8;
    color:#1C1C1D;
    width: 100%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding:0.5rem 0 0.5rem 0;
}
.footer-link
{
    color: #2591B2;
}

</style>